/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #092596;
$secondary: #051760;
$tertiary: #69AFEF;

/** ASSET URLS
 * login-bg: image for login splash page
 */

$login-bg: url(../assets/images/bg.jpg);

// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.
